$primary-normal: #0071B1;
$primary-dark: #00639B;
$primary-light: #2083BB;

$secondary-normal: #F68326;
$secondary-dark: #E8771A;
$secondary-light: #F79341;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #F7F2FA;
$white-dark: #EDEAEF;
$white-light: #FEFBFF;

$gray-1: #454446;
$gray-2:#555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;

$red-normal: #EB3D3D;
$re-dark: #D03333;
$red-light: #F05454;

$green-normal: #32D957;
$green-dark: #28BB49;
$green-light: #50E170;

$yellow-normal: #FFCE52;
$yellow-dark: #D9B043;
$yellow-light: #FFD76B;